In [ ]:
pip install matplotlib

In [1]:
from tabula import read_pdf
from tabulate import tabulate
import csv
import os
import pandas as pd
import tabula
import csv
import openpyxl as myxl;

In [2]:
df = read_pdf("District 01.pdf", pages=3)
df = df.dropna(axis='columns')
print (tabulate(df))

--  ---------------------
 0  CENTRAL BARAMITA
 1  BARAMITA
 2  BARAMITA
 3  BARAMITA
 4  BARAMITA
 5  BARAMITA
 6  LAST RESORT BARAMITA
 7  LAST RESORT BARAMITA
 8  BARAMITA
 9  LAST RESORT BARAMITA
10  BARAMITA
11  BARAMITA
12  BARAMITA
13  CENTRAL BARAMITA
14  BARAMITA
15  CENTRAL BARAMITA
16  BARAMITA
17  BARAMITA
18  BARAMITA
19  CASSIE CREEK BARAMITA
20  CASSIE CREEK BARAMITA
21  BARAMITA
22  BARAMITA
23  BARAMITA
24  LOG HILL BARAMITA
25  BARAMITA
26  BARAMITA
27  CENTRAL BARAMITA
28  BARAMITA
29  WARAPA BARAMITA
30  CENTRAL BARAMITA
31  BARAMITA
32  BARAMITA
33  BARAMA LINE BARAMITA
34  BARAMITA
35  CENTRAL BARAMITA
36  CENTRAL BARAMITA
37  BARAMITA
38  BARAMITA
39  CENTRAL BARAMITA
40  CENTRAL BARAMITA
41  BARAMITA
42  BARAMITA
43  CENTRAL BARAMITA
44  BARAMITA
45  CENTRAL BARAMITA
46  BARAMITA
47  BARAMITA
48  CENTRAL BARAMITA
49  BARAMITA
50  CENTRAL BARAMITA
--  ---------------------

In [ ]:
df = read_pdf("District 01.pdf", encoding = 'ISO-8859-1',
         stream=True, area = [269.875, 12.75, 790.5, 961], pages = 3, guess = False,  pandas_options={'header':None})
df

In [ ]:
df = read_pdf("District 01.pdf", encoding = 'ISO-8859-1', pages = 3,
         stream=True, guess = False)
df

In [4]:
fields = ["Surname", "Name", "Address", "Occupation", "ID"]
df = read_pdf("District 01.pdf", encoding = 'ISO-8859-1', pages = "699-700", 
         stream=True, guess = False, usecols = fields)
df

,Unnamed: 0,Unnamed: 1,PRELIMINARY LIST OF ELECTORS,Unnamed: 3,Unnamed: 4
0,District 1,NaN,Division Number: 12225,NaN,NaN
1,NaN,NaN,Division Name: CHINESE LANDING,NaN,NaN
2,No. Surname,NaN,First Name Middle Name Address,Occupation,ID Number
3,1 CREAME,NaN,AUBREY BARAMA RIVER CHINESE,MINER,152534829
4,NaN,NaN,LANDING MORUCA,NaN,NaN
...,...,...,...,...,...
78,36 WILLIAMS,NaN,NAFESA BARAMA RIVER CHINESE,-,148268381
79,NaN,NaN,LANDING MORUCA,NaN,NaN
80,37 WILLIAMS,NaN,PEARL JANET TASSAWINI LANDING,-,152535508
81,NaN,NaN,CHINESE LANDING MORUCA,NaN,NaN
82,Date Of Issue:,"Wednesday, September 25, 2019",NaN,NaN,Page 700 of 708

In [ ]:
pgs = ["3-18", "21", "24", "27", "30-37", "40-54", "57-66", "69-103", "106-127", "130-156", "159", "162-166", "169", "172-173",
      "176-177", "180", "183-190", "193-196", "199-200", "203-205", "208", "212-216", "219-221", "224-228", "231-234", "237-259", 
      "262-264", "267-269", "272-273", "276-277", "280-284", "287-303", "306-322", "325-332", "335-341", "344-358", "361-363",
      "366-369", "372-374", "377-393", "396-397", "400-402", "405-406", "409-410", "413", "416-424", "427-432", "435-440", "443-528",
      "531-547", "550-592", "595-655", "658-671", "674", "677", "683-689", "692","695-696", "699-700","703-706"]
num_items = len(pgs)
print(num_items)
x = 0
while x < num_items:
    tabula.convert_into("District 01.pdf", "output"+str(x)+".csv", output_format="csv", pages = pgs[x], stream = True)
    x += 1

In [5]:
#tabula.convert_into("District 01.pdf", "output59.csv", output_format="csv", pages = "703-706", stream = True)

multi_tables =